:root {
  --color-darkest: #232730;
  --color-dark: #2e3440;

}

body {
  background: var(--color-dark);
  font-family: "Open Sans", sans-serif;
  color: #eceff4;
}


nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.squircles {
  background: var(--color-darkest);
  list-style:none;
  padding: .62vw;  
  border-radius: 0 .8vw .8vw 0;
  
  margin-top: 1.65vw;
  display:flex;
  flex-direction: column;
  gap: .42vw;
}
.squircle {
  background: #bf616a;
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: .2s;
}
.squircle:hover{
  border-radius: 30%;
  
}

.squircle:hover::before{
  transform: translate(-96%, -50%) scale(.6);
  
}

.squircle::before {
  width: 100%;
  height: 100%;
  background: #eceff4;
  content: '';
  position:absolute;
  top: 50%;
  transform: translate(-94%, -50%) scale(0);
  transition: .2s;
}

.divider {
  width: 100%;
  background: #eceff4;
  height: .1vw;
  opacity: .06;
  transform: scale(.65);
}

.popper-boi {
  background: #bf616a;
  padding: .55vw .83vw;
  position:absolute;
  top: 50%;
  left: 140%;
  transform: translateY(-50%);
  width: max-content;
  border-radius: .22vw;
  opacity: 0%;
  transition: .2s;
}

.popper-text {
  margin: 0;
}

.popper-boi::before {
  position:absolute;
  background: #bf616a;
  width: 1.23vw;
  height: 1.23vw;
  left: -.1vw;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  content: '';
  z-index: -1;
  
}

.squircle:hover .popper-boi{
  opacity: 100%;
}

#toc {
  background-color: #232730;
  right: 0px;
  margin-top: 1.67vw;
  top: 0;
  max-width: 27vw;
  border-radius: .8vw 0 0 .8vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: .5vw;
  font-size: 1.4vw;
  padding-right: .8vw;
}

#toc a {
  text-decoration: none;
  color: #bf616a;
  
}


#content {
  font-size: 1.66vw;
  margin-left:15vw;
  max-width:50vw;
}

#content h1 {
  font-size: 3.05vw;
  text-align: center;
}
#content #sign {
  text-align: right;
}
